---
layout: layout
---

<style>
    #about-header{
        margin-top: 85px;
    }
    #about-header img{
        width: 145px;
    }
    .offer-body,
    .person-body,
    .project-body,
    .skills-body,
    .work-body,
    .learn-body{
        padding-left: 25px;
    }
    p{
        margin:0;
        font-size: 15px;
    }
    .body-section{
        padding-left: 15px;
    }
    #offer ul{
        margin-left: 20px;
        margin-bottom: 5px!important;
        border-left: 4px darkgray solid;
        padding-left: 8px;

    }
    li{
        list-style: none;
        font-size: 15px;

    }
    .title{
        color: #777;
    }
    .title>span{margin-right: 5px}
    .detail-info-xueli{
        display: block;
        padding-left: 70px;
    }


</style>

<!-- Chinese Version -->
<div class="zh post-container">
<    <div class="content" id="about-header"> 
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <div>
                    <img  src="https://kentsx-github-1256168505.cos.ap-shanghai.myqcloud.com/profile_pic.jpg    "  style="border-radius: 50%;"/>
                </div>
                <div class="text-center">
                     <h2>Kent S. Xie</h2>
                    <p>工作岗位：国内某券商投行债权部</p>
					<p>CFA Level 2 Candidate</p>
					
                </div>
            </div>
        </div>
        <!--正文-->
        <div class="row" id="offer">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <div class="work-experience">
                    <h3 class="title"> 工作经历</h3>
                    <p>
                        2017年1月-至今, 投行债权部 &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; 项目经理
                    </p>
                    <div class="body-section">
                        <ul>
                            <li>1、参与xxxx项目</li>
                            <li>2、参与xxxxx项目</li>
                            <li>3、参与XXXX项目</li>
                        </ul>
                    </div>
                </div>
				<div class="work-experience">
                    <h3 class="title"> 学习经历</h3>
                    <p>
                        2015年8月-2016年7月&nbsp; &nbsp; &nbsp;  &nbsp; National University of Singapore &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; MSc Statistics
                    </p>
                    <div class="body-section">
						主要课程：
                        <ul>
                            <li>非参数回归等</li>
                        </ul>
                    </div>
					<p>
                        2011年9月-2015年7月&nbsp; &nbsp; &nbsp;  &nbsp; 上海财经大学 &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; 房地产经营管理（辅修统计学）
                    </p>
                    <div class="body-section">
						主要课程：
                        <ul>
                            <li>会计基础、经济学等</li>
                        </ul>
                    </div>
                </div>
<!-- 此部分不显示
                <div class="project-show">
                    <h3 class="title"><span class="glyphicon glyphicon-folder-open"></span> Project</h3>
                    <div class="project-body">
                        <ul>
                            <li>为一款 Node.js 博客系统开发的两款主题:<a href="https://github.com/Haojen/hexo-theme-Anisina" target="_blank"> Anisina</a> 与 <a href="https://github.com/Haojen/hexo-theme-Anisina" target="_blank">Claudia</a></li>
                            <li><a href="https://github.com/Haojen/alfred-Parrot" target="_blank"> 一款支持多语种的 Alfred Workflow 翻译插件</a></li>
                            <li> <a href="http://haojen.github.io/my-works/" target="_blank">更早期的项目<span class="glyphicon glyphicon-link"></span></a></li>
                        </ul>
                    </div>
                </div>
-->
                <div class="person-info">
                    <h3 class="title"><span class="glyphicon glyphicon-user"></span> 其他</h3>
                    <div class="person-body">
                        <p>学历: 硕士研究生</p>
                        <p>个人博客: <a target="_blank" href="http://kentsx.github.io/"> Kent's Blog <span class="glyphicon glyphicon-link"></span> </a></p>
                        <p>GitHub: <a target="_blank" href="http://github.com/kentsx">Github/kentsx<span class="glyphicon glyphicon-link"></span></a></p>
                        <p>爱好: Coding, Finance, Investment, Reading</p>
                    </div>
                </div>
                <div>
                    <h3 class="title">近期阅读及学习</h3>
                    <ul>
                        <li>CFA Level 2 related materials</li>
                        <li>Elon Musk bibliography</li>
						<li>《门口的野蛮人》</li>
                        <li>Hexo webpage related and SEO</li>
                    </ul>
                </div>
				<div>
                    <h3 class="title">版权说明</h3>
                    <p>
					如果没有特别申明（在文章标题、开头或结尾），本站遵循<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank"> “署名-非商业性使用-相同方式共享 4.0 (CC BY-NC-SA 4.0)”</a>。其中部分转载文章（额外说明及标注），版权归原作者所有，转载请联系原作者。
					</p>
                </div>
				<div>
                    <h3 class="title">关于本站</h3>
                    <p>
					“Kent's Blog”建于2018年3月末，主要分享我的生活、想法以及对自己的挑战。由于并不懂编程，对前端后端语言也是一知半解，还有对什么php、js更是不懂，所以不求流量点击。
					<br>
					博客现基于Hexo，主题是Anisina，服务器托管在Github以及Coding上，CDN及DNS支持：CloudFlare。计划于近期调整完SEO等，并将早期零散的微博文章等全部移植到此处，所以看到早期的文章很正常。
					<br><br>
					关于评论系统：
					<br>
					鉴于我不是一个程序猿，博文内容更多的可能倾向于个人生活等，本不想加评论系统，尤其是目前这没有访问量的情况。但决定给自己一些压力，鼓励自己坚持下去，总会有人愿意评论或者留言的，所以在权衡一番Gitment和LiveRe后，还是决定选择后者作为评论系统，主要原因在于读者可能不一定有Github的账号，这会拦截掉那一小部分本想留言的visitor，另外，LR作为一个棒子的产品，应该收到的监管不是太严，所以命应该会长久些吧。
					</p>
					
                </div>
				
                <div class="contact-show">
                    <h3 class="title "> <span class="glyphicon glyphicon-earphone"></span> 联系我</h3>
                        
                        <p>
                            邮 &nbsp; &nbsp; &nbsp; 箱:   kentisxie@126.com
                        </p>
						<p>
                            欢迎在文章底部的评论中给我留言及提建议！
                        </p>
                </div>
            </div>
        </div></div>
</div>




